<div class="container">
  <div class="row">
    <h1 class="jumbotron-heading">
      {{ filmComplex?.filmEntity.title }}
    </h1>
  </div>
  <div class="row">

    <div class="col-lg">
      <div class="row">
        <h5>
          Description:
        </h5>
      </div>
      <div class="row">
        <p class="text-md">
          {{ filmComplex?.filmEntity.description }}
        </p>
      </div>

      <div class="row">
        <h5>
          Released year:
        </h5>
      </div>
      <div class="row">
        <p class="text-md">
          {{ filmComplex?.filmEntity.releaseYear }}
        </p>
      </div>
      <div class="row">
        <h5>
          Length:
        </h5>
      </div>
      <div class="row">
        <p class="text-justify text-md">
          {{ filmComplex?.filmEntity.length }} min
        </p>
      </div>
      <div class="row">
        <h5>
          Language:
        </h5>
      </div>
      <div class="row">
        <p class="text-justify text-md">
          {{ filmComplex?.languageNormal.name }}
        </p>
      </div>
      <div class="row">
        <h5>
          LanguageVO:
        </h5>
      </div>
      <div class="row">
        <p class="text-justify text-md">
          {{ filmComplex?.languageVO?.name }}
        </p>
      </div>


      <div class="row">
        <ul class="list-group">
          <h5> Categories:</h5>
          <div *ngFor="let category of filmComplex?.categoryEntityList">
            <app-category [category]="category"></app-category>
          </div>
        </ul>
      </div>

      <div class="row">
        <button class="btn btn-outline-secondary" type="button" id="updateFilmButton" [routerLink]="['/addFilm', filmComplex?.filmEntity.filmId]">
          Modifier
        </button>
      </div>
    </div>

    <div class="col-lg">
      <div class="row-g justify-content-center">
        <h5>Liste des acteurs</h5>
      </div>
      <div class="row-lg justify-content-center" >
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let actor of filmComplex?.actorEntityList">
            <app-actor [actor]="actor"></app-actor>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

