<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    All categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="returnCategory(null)" id="null" >All catégories</a>
    <a class="dropdown-item" (click)="returnCategory(category)" id="{{ category.categoryId }}" *ngFor="let category of categories" >{{ category.name }}</a>
  </div>
</div>
