<h3>Liste des films</h3>
<input type="text" class="form-control" [(ngModel)]="filmSearched" placeholder="Search...">
<app-category-dropdown [categories]="categories" (categoryChange)="categoryChangeHandler($event)"></app-category-dropdown>
<!--<div class="card-group">-->
  <!--<app-film-card  *ngFor="let film of films|filterFilm:filmSearched" [film]="film" ></app-film-card>-->
<!--</div>-->
<div class="card-group">
  <app-film-card  *ngFor="let film of complexFilms|filterFilm:filmSearched" [film]="film.filmEntity" ></app-film-card>
</div>
