<form (ngSubmit)="valider()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" [(ngModel)]="film.filmEntity.title" id="title" name="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" [(ngModel)]="film.filmEntity.description" id="description" name="description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="releaseYear">Release year</label>
    <input type="text" class="form-control" [(ngModel)]="film.filmEntity.releaseYear" id="releaseYear" name="releaseYear" placeholder="Release year">
  </div>
  <div class="form-group">
    <label for="length">Length</label>
    <input type="text" class="form-control" [(ngModel)]="film.filmEntity.length" id="length" name="length" placeholder="Length">
  </div>
  <app-category-dropdown [categories]="categories" id="category" name="category" (categoryChange)="categoryChangeHandler($event)" ></app-category-dropdown>
  <div *ngFor=" let category of film.categoryEntityList" (click)="rmCat(category)"> {{category.name}}        Remove</div>
  <app-language-dropdown [languages]="languages" id="language"  name="language"  ></app-language-dropdown>
  <app-language-dropdown [languages]="languages" id="originalLanguage" name="originalLanguage" ></app-language-dropdown>

  <div *ngFor=" let actor of film.actorEntityList" (click)="rmAct(actor)"> {{actor.firstName }} {{actor.lastName }}        Remove</div>

  <app-actors (actorChange)="actorChangeHandler($event)" ></app-actors>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
